{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid text-center p-3" style="background-color: rgb(19, 54, 78);">
    <h1 class="m-0">{{ title }}</h1>
  </div>
  {% if message != null %}
    <div class="container-fluid text-center p-3">
      <h3 class="m-0">{{ message }}</h3>
    </div>
  {% endif %}
  <div class="container d-flex justify-content-center mt-auto p-3">
    <div class="card bg-dark w-75 mb-3 p-3">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label for="email">Correo electrónico:</label><br />
            <input class="form-control" id="email" name="email" type="text" required />
          </div>
          <div class="mb-3">
            <label for="password">Contraseña:</label><br />
            <input class="form-control" id="password" name="password" type="password" required />
          </div>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Iniciar sesión" />
            <a class="btn btn-secondary" href="/posts" role="button">Cancelar</a>
          </div>
        </form>
        <hr />
        <div class="text-center">
          <a class="btn btn-primary" href="/users/auth" role="button">Iniciar sesión con GitHub</a>
        </div>
        <hr />
        <div class="d-flex justify-content-center align-items-center">
          <div>¿No tiene cuenta aún?</div>
          <div class="px-2">
            <a class="btn btn-success" href="/users/register" role="button">Registrarse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
