{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid text-center p-3" style="background-color: rgb(19, 54, 78);">
    <h1>{{ title }}</h1>
  </div>
  {% if message != null %}
    <div class="container-fluid text-center p-3">
      <h3>{{ message }}</h3>
    </div>
  {% endif %}
  <div class="container d-flex justify-content-center mt-auto p-3">
    <div class="card bg-dark w-75 mb-3 p-3">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label for="name">Nombre completo:</label><br />
            <input class="form-control" id="name" name="name" type="text" />
          </div>
          <div class="mb-3">
            <label for="userName">Nombre de usuario:</label><br />
            <input class="form-control" id="userName" name="userName" type="text" />
          </div>
          <div class="mb-3">
            <label for="email">Correo electrónico:</label><br />
            <input class="form-control" id="email" name="email" type="text" />
          </div>
          <div class="mb-3">
            <label for="password">Contraseña:</label><br />
            <input class="form-control" id="password" name="password" type="password" />
          </div>
          <div class="mb-3">
            <label for="passwordConfirm">Confirmar contraseña:</label><br />
            <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password" />
          </div>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Registrarse" />
            <a class="btn btn-secondary" href="/posts" role="button">Cancelar</a>
          </div>
        </form>
        <hr />
        <div class="d-flex justify-content-center align-items-center">
          <div class="p-1">¿Ya tiene una cuenta?</div>
          <div class="p-1">
            <a class="btn btn-success" href="/users/login" role="button">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
