{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <form method="POST">
        <div>
            <label for="title">Título:</label><br />
            <input id="title" name="title" type="text" />
        </div>

        <div>
            <label for="summary">Cuerpo:</label><br />
            <textarea id="summary" name="summary"></textarea>
        </div>

        <div>
            <label for="image">image:</label><br />
            <input type="file" id="image" name="image" accept="image/png, image/jpeg">
        </div>

        <input type="submit" value="Crear" />
    </form>
{% endblock %}